<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.byui.shane.marykayinventoryapp" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/mary_kay_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        android:debuggable="true"
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InventoryListActivity"
            android:label="@string/title_activity_inventory_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.byui.shane.marykayinventoryapp.MainActivity" />
        </activity>
        <activity
            android:name=".ReorderProductActivity"
            android:label="@string/title_activity_reorder_product"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.byui.shane.marykayinventoryapp.MainActivity" />
        </activity>
        <activity
            android:name=".UpdateInventoryActivity"
            android:label="@string/title_activity_update_inventory"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.byui.shane.marykayinventoryapp.MainActivity" />
        </activity>
        <activity
            android:name=".UpdateProductListActivity"
            android:label="@string/title_activity_update_product_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.byui.shane.marykayinventoryapp.MainActivity" />
        </activity>
        <activity
            android:name=".ReorderReceiptActivity"
            android:label="@string/title_activity_reorder_receipt"
            android:parentActivityName=".ReorderProductActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.byui.shane.marykayinventoryapp.ReorderProductActivity" />
        </activity>
    </application>

</manifest>
